<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="/produto/cadastro" method="post">
    <label>Nome do produto</label>
    <input name="nomeProduto">
    <label>Sabores</label>
    <input name="sabor[]">
    <label>Quantidade</label>
    <input name=quantidade>
    <label>Preço</label>
    <input name="preco">
    <label>data de validade</label>
    <input name="dataValidade">
    <input type="submit" value="Cadastrar">
</form>
</body>
</html>